@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-system: "Orbitron", sans-serif;
  --color-hunter-blue: #00d4ff;
  --color-hunter-dark: #0a0a0a;
}